# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.iBooker.iml
# Datasource local storage ignored files
/../../../../../../../:\Apps\ASP.NET\iBooker\.idea\.idea.iBooker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
